.section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: "all 0.25s ease-in-out";
  background-color: var(--first-color);
  color: var(--title-color);
  .main__info {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 125px;
    align-self: center;
    order: 0;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  h1 {
    font-size: 15vw;
    color: white;
    line-height: 90%;
    font-weight: 400;
    text-align: center;
    font-family: "Amiri", serif;
    // margin-top: 1vw;
  }
  h2 {
    font-size: 10vw;
    color: white;
    line-height: 90%;
    font-weight: 400;
    text-align: center;
    font-family: "Amiri", serif;
    // margin-top: 1vw;
  }
  p {
    font-size: var(--h2-font-size);
    color: white;
    font-family: "Amiri", serif;
    font-weight: 400;
    text-align: center;
  }
  .home-socials {
    margin: 160px auto 30px;
    .social_icon {
      font-size: var(--h2-font-size);
      padding: 0.55rem;
      background-color: var(--text-color);
      border-radius: 20px;
      margin: 0.5rem;
      color: var(--first-color);
    }
  }
}
