@use 'preloader';
@use 'header';
@use 'home';
@use 'contact';

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
    font-family: Carlantans;
    src: url("../fonts/Carlantans.otf");
}
/* VARIABLES CSS */
:root {
    --header-height: 3rem;

    /* Colors */

    /* HSL color mode */
    --first-color: #2AC171;
    --first-color-alt: #33FF77;
    --title-color: #CCFFE9;
    --text-color: #323338;
    --text-color-light: #C5C7D0;
    --input-color: #666666;
    --body-color: #F5F6F8;
    --container-color: #F5FFF8;


    /* Font and typography */
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES */
.section {
  padding: 2rem 0 4rem;
  &__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
  }
  
  &__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
  }
  
  &__title, 
  &__subtitle {
    text-align: center;
  }
}

section{
  padding: 200px 0;
}


/* LAYOUT */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}


/* MEDIA QUERIES */
/* For small devices */
@media screen and (max-width: 400px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  section{
    padding: 100px 0;
  }
  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav_list {
    column-gap: 0;
  }
  .header-container{
    position: relative;
    top: var(--header-height);
    .header-menu{
      position: absolute;
      left: 0;
      top: 25%;
      padding-right: 5rem;
      li{
        margin: 20px 0;
        i{
          color: #626262;
          font-size: 5vw;
        }
      }
    }
    #header-text{
      font-size: 7vw;
      text-transform: uppercase;
      text-align: center; 
    }
    h1 {
      font-size: 7vw;
      text-transform: uppercase;
      text-align: center;
  
    }
    .Typewriter__cursor{
      display: none;
    }
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  section{
    padding: 200px 0;
  }
  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav_list {
    column-gap: 0;
  }
  .contact__container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .header {
    top: 0;
    bottom: initial;
    padding: 0 1rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    &__icon,
    &__close,
    &__toggle {
      display: none;
    }
    &__list {
      display: flex;
      column-gap: 2rem;
    }
    &__menu {
      margin-left: auto;
      padding: 4rem 0.25rem;
    }
    // .change-theme{
    //   margin: 0;
    // }
  }
}
/* For large devices */
@media screen and (min-width: 1024px){
  .contact__form{
    width: 560px;
  }
  .contact__inputs{
    grid-template-columns: repeat(2, 1fr);
  }
}